<html>
    <head>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="teal">
        <nav>
            <div class="nav-wrapper blue-grey darken-1">
                <a class="brand-logo" href="{% url 'main' %}">Menu</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="modal-trigger" href="#modal">Buscar</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
                <div class="col s0 m2"></div>
            <div class="col s12 m8">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Categoria {{ categoria.tipo }}</span>
                        {{ categoria.fecha }}
                    </div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Participantes</div>
                            <div class="collapsible-body">
                                {% for competidor in categoria.competidores.all %}
                                    {% for participante in competidor.participantes.all %}
                                        <p>{{ participante }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </li>
                        <li id="live_content">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="modal" class="modal">
                <div class="row">
                        <div class="col s12">
                          <ul class="tabs tabs-fixed-width">
                            <li class="tab col s3"><a class="active black-text" href="#tab_competidor">Competidores</a></li>
                            <li class="tab col s3"><a class="black-text" href="#tab_categoria">Categoria</a></li>
                            <li class="tab col s3"><a class="black-text" href="#tab_participantes">Participantes</a></li>
                          </ul>
                        </div>
                        <div id="tab_competidor" class="row">
                            <form action="{% url 'search' 'Competidor' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-field col s6">
                                    <input id="barco" name="barco" type="text">
                                    <label for="barco">Nombre del barco:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="club" name="club" type="text">
                                    <label for="club">Nombre del club:</label>
                                </div>
                                <button class="btn btn-flat" type="submit">Buscar</button>
                            </form>
                        </div>
                        <div id="tab_categoria" class="row">
                            <form action="{% url 'search' 'Categoria' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-field col s6">
                                    <input id="categoria" name="categoria" type="text">
                                    <label for="categoria">Tipo de Categoria:</label>
                                </div>
                                <div class="input-field col s6">
                                    <label>Fecha: </label>
                                    <input type="date" name="fecha" id="fecha"> 
                                </div>
                                <button class="btn btn-flat" type="submit">Buscar</button>
                            </form>
                        </div>
                        <div id="tab_participantes" class="row">
                            <form action="{% url 'search' 'Participante' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-field col s6">
                                    <input id="nombre" name="nombre" type="text">
                                    <label for="nombre">Nombre:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="apellido" name="apellido" type="text">
                                    <label for="apellido">Apellido:</label>
                                </div>
                                <button class="btn btn-flat" type="submit">Buscar</button>
                            </form>
                        </div>
                      </div>
        </div>

    </body>
    <script>
        $(document).ready(load_live_data());

        function load_live_data(){
            $.ajax({
                url:'{% url "live_data" categoria.id %}',
                success:function(live_data){ 
                    $("#live_content").html(live_data);
                    start_materialize();
                }
            })
        };

        function start_materialize(){
            $('.modal').modal();
            $('.collapsible').collapsible();
            $('ul.tabs').tabs();          
        };
    </script>
</html>